.kolom1 { height: auto;
		  width: 200px;
		  position: fixed;
		  background-color: silver;
		  font-size: 24px;}
.kolom2 { height: auto;
		  width: 584px; 
		  margin-left: 200px;
		  background-color: #B0C4DE}
.footer { background-color: lightgrey;
          width: 784px;
          height: 100px; 
      	  text-align: center;
      	  position: fixed;}